
/* Setup
-------------------------------------------------------------------------------- */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'calibri', sans-serif;
}

h1 {
    margin: 2em 0 0;
    text-align: center;
    text-transform: uppercase;
}

p {
    margin: 0;
    text-align: center;
}


/* Accessible menu style
-------------------------------------------------------------------------------- */

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.access-menu {
    display: table;
    margin: 1em auto;
}

.access-menu > li {
    position: relative;
    display: inline-block;
    background: #333;
}

.access-menu > li + li {
    border-left: solid 1px #000;
}

.access-menu > li:hover .access-submenu {
    top: 100%;
    left: auto;
}

.access-menu a {
    display: block;
    padding: .5em 2em;
    color: #eee;
    text-decoration: none;

    -webkit-transition: all .2s linear;
            transition: all .2s linear;
}

.access-menu a:hover,
.access-menu a:focus {
    background: #369;
    outline: none;
}

.access-submenu {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 150%;
    background: #444;
}

.access-submenu > li + li {
    border-top: solid 1px #000;
}

.access-submenu > li:last-child {
    border-bottom: solid 3px #000;
}

.access-submenu a {
    padding: .5em 1em;
}

.is-show {
    top: 100%;
    left: auto;
}